PORT=8080
DB_URL=jdbc:postgresql://localhost:5433/diagramador_db
DB_USERNAME=admin
DB_PASSWORD=2077
JWT_SECRET=TU_CLAVE_SUPER_SECRETA_DIAGRAMCONECT_2026_LOCAL_DEV_KEY
JWT_EXPIRATION=86400000

# CLOUDINARY CONFIG
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
